body {
    text-align: center;
    margin-top: 50px;
    background: #fafafa;
    background-color: green;
  }

  img {
    width: 500px;
    height: 500px;
    transition: transform 0.5s;
  }

  img:hover {
    transform: rotate(10deg);
  }

  
  .fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
}

h2{
    color: brown;
    background-color: blueviolet;
    font-size: 50px;
    border-radius: 20px;
}
button{
   font-size: 40px;
   color: aqua;
   background-color: black; 
   width: 500px;
}
button:hover{
  background-color: blue;
  color: red;
}