body{
    display: flex;
    justify-content: center;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: orange;
}
.box2{
     width: 200px;
    height: 200px;
    background-color: blue;
}
.box3{
     width: 200px;
    height: 200px;
    background-color: green;
}
