body{
    background-color: black;
}

p{
    color: white;
    display: flex;
    justify-content: center;
}

.Loading{
    color: white;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 230px;
    height: 25px;
    animation: full linear 10s infinite;
}

@keyframes full {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}








