body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.heart{
  font-size:80px;
  animation: beat 1s infinite;
}


@keyframes beat{
  0%   { transform: scale(1); }
  50%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}