body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#111;
}

.loader{
  width:60px;
  height:60px;
  border:8px solid #555;
  border-top:8px solid white;
  border-radius:50%;
  animation: spin 1s linear infinite;
}

@keyframes spin{
  to{ transform: rotate(360deg); }
}