body{
    
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#111;
}


h1{
  font-size:80px;
  animation: color 2s infinite;
}

@keyframes color{
  0%{color:red;}
  50%{color:blue;}
  100%{color:lime;}
}
