body {
  margin: 0;
  padding: 40px;
  background-color: #e6e6e6;
}


.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.box {
  width: 200px;
  height: 150px;
  background-color: red;
}

@media (max-width: 601px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 80%;
  }
}